<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
</head>
<body>
             <block name="main-content">
            <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;bottom:0px;position:fixed;">
                <a href="#"><div class="col-xs-3" style="background: #F0F0F0;text-align:center;color:#000;font: 350px;height:40px;line-height:40px;border-style: solid;border-width: 0px 0px 0px 0px;border-color: #B3B3B3">首页</div></a>

                <a href="#"><div class="col-xs-3" style="background: #F0F0F0;text-align:center;color:#000;font: 350px;height:40px;line-height:40px;border-style: solid;border-width: 0px 0px 0px 1px;border-color: #B3B3B3">消息</div></a>

                <a href="#"><div class="col-xs-3" style="background: #F0F0F0;text-align:center;color:#000;font: 350px;height:40px;line-height:40px;border-style: solid;border-width: 0px 0px 0px 1px;border-color: #B3B3B3">商城</div></a>

                <a href="#"><div class="col-xs-3" style="background: #F0F0F0;text-align:center;color:#000;font: 350px;height:40px;line-height:40px;border-style: solid;border-width: 0px 0px 0px 1px;border-color: #B3B3B3">我的</div></a>
            </div>

            
        </block>
</body></html>
