<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>订餐系统</title>
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

<!-- <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/index/shop_1.jpg"></div>
        <div class="swiper-slide"><img src="images/index/shop_1.jpg"></div>
        <div class="swiper-slide"><img src="images/index/shop_1.jpg"></div>
    </div>
</div> -->

<div class="nav-lf">
<ul id="nav">
  <li class="current"><a href="javascript:void(0)" onclick="myFunction1()">分类一</a></li>
  <li><a href="javascript:void(0)" onclick="myFunction2()">分类二</a></li>
  <li><a href="javascript:void(0)" onclick="myFunction3()">分类三</a></li>
  <li><a href="javascript:void(0)" onclick="myFunction4()">分类四</a></li>
</ul>
</div>

<div id="container" class="container">

  <div class="section" id="st1">
  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品1</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>
    
  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_2.jpg"></div>
        <div class="lt-ct">
        	<p>商品1</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_3.jpg"></div>
        <div class="lt-ct">
        	<p>商品1</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_4.jpg"></div>
        <div class="lt-ct">
        	<p>商品1</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_5.jpg"></div>
        <div class="lt-ct">
        	<p>商品1</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>
    
  </div>
    
    

  
  <div class="section" id="st2">
  
  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品2</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>
    
  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品2</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品2</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品2</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品2</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>
    
  </div>
  
  <div class="section" id="st3">
  
  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品3</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>
    
  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品3</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品3</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品3</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>

  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品3</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>
    
  </div>
  
  <div class="section" id="st4">
  
  	<div class="prt-lt">
    	<div class="lt-lt"><img src="images/index/prt_1.jpg"></div>
        <div class="lt-ct">
        	<p>商品4</p>
            <p class="pr">¥<span class="price">60.00</span></p>
        </div>
        <div class="lt-rt">
        	<input type="button" class="minus"  value="-">
        	<input type="text" class="result" value="0">
        	<input type="button" class="add" value="+">
        </div>
    </div>
      
  </div>
  
</div>
</div>
</div>
<footer>
	<div class="ft-lt">
        <p>合计:<span id="total" class="total">163.00元</span><span class="nm">(<label class="share"></label>份)</span></p>
    </div>
    <div class="ft-rt">
    	<p>选好了</p>
    </div>
</footer>


<script type="text/javascript" src="js/Adaptive.js"></script>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/jquery.nav.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    document.getElementById('st2').style.display = "none";
      document.getElementById('st3').style.display = "none";
      document.getElementById('st4').style.display = "none";

    });
var swiper = new Swiper('.swiper-container', {
	pagination: '.swiper-pagination',
	paginationClickable: true,
	spaceBetween: 30,
});

$(function(){
	$('#nav').onePageNav();
});

</script>
<script> 
$(function(){ 

$(".add").click(function(){
var t=$(this).parent().find('input[class*=result]'); 
t.val(parseInt(t.val())+1);
setTotal(); 
})
 
$(".minus").click(function(){ 
var t=$(this).parent().find('input[class*=result]'); 
t.val(parseInt(t.val())-1);
if(parseInt(t.val())<0){ 
t.val(0); 
} 
setTotal(); 


})
 
function setTotal(){ 
var s=0;
var v=0;
var n=0;
<!--计算总额--> 
$(".lt-rt").each(function(){ 
s+=parseInt($(this).find('input[class*=result]').val())*parseFloat($(this).siblings().find('span[class*=price]').text()); 

});

<!--计算菜种-->
var nIn = $("li.current a").attr("href");
$(nIn+" input[type='text']").each(function() {
	if($(this).val()!=0){
		n++;
	}
});

<!--计算总份数-->
$("input[type='text']").each(function(){
	v += parseInt($(this).val());
});
if(n>0){
	$(".current b").html(n).show();		
	}else{
	$(".current b").hide();		
		}	
$(".share").html(v);
$("#total").html(s.toFixed(2)); 
} 
setTotal(); 

}) 
</script> 
<script>
 function myFunction1()
    {
    document.getElementById('st2').style.display = "none";
      document.getElementById('st3').style.display = "none";
      document.getElementById('st1').style.display = "block";
      document.getElementById('st4').style.display = "none";
    }
    function myFunction2()
    {
    document.getElementById('st1').style.display = "none";
      document.getElementById('st3').style.display = "none";
      document.getElementById('st2').style.display = "block";
      document.getElementById('st4').style.display = "none";
    }
    function myFunction3()
    {
    document.getElementById('st1').style.display = "none";
      document.getElementById('st2').style.display = "none";
      document.getElementById('st3').style.display = "block";
      document.getElementById('st4').style.display = "none";
    }
    function myFunction4()
    {
    document.getElementById('st1').style.display = "none";
      document.getElementById('st2').style.display = "none";
      document.getElementById('st4').style.display = "block";
      document.getElementById('st3').style.display = "none";
    }
</script>
<script type="text/javascript" src="js/waypoints.min.js"></script>
<script type="text/javascript" src="js/navbar2.js"></script>
</body>
</html>