<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="_CSS_/index/snower.css" media="all">
<link rel="stylesheet" type="text/css" href="_CSS_/index/theme_red.css">
<link rel="stylesheet" type="text/css" href="_CSS_/index/main.css">
<link rel="stylesheet" type="text/css" href="_CSS_/index/index.css">
<link rel="stylesheet" type="text/css" href="_CSS_/index/reset.css">
<link rel="stylesheet" type="text/css" href="_CSS_/index/common.css">
<link rel="stylesheet" type="text/css" href="_CSS_/index/font-awesome.css">
<script type="text/javascript" async="" src="_JS_/index/wtj.js"></script>
<script src="_JS_/index/getsignpackage" type="text/javascript"></script>
<script type="text/javascript" src="_JS_/index/jQuery.js"></script>
<script type="text/javascript" src="_JS_/index/maivl.js"></script>
<script type="text/javascript" src="_JS_/index/jquery_min.js"></script>
<script type="text/javascript" src="_JS_/index/swipe_circle.min.js"></script>
<script type="text/javascript" src="_JS_/index/index.js"></script>
<title>EB免费在线英语</title>
        
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="Keywords" content="微盟、微信营销、微信代运营、微信定制开发、微信托管、微网站、微商城、微营销">
        <meta name="Description" content="微盟，国内最大的微信公众智能服务平台，微盟八大微体系：微菜单、微官网、微会员、微活动、微商城、微推送、微服务、微统计，企业微营销必备。">
            
        <meta content="telephone=no, address=no" name="format-detection">
        <meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Mobile Devices Support @end -->
        <link rel="stylesheet" type="text/css" href="./天津英孚青少儿英语_files/weimobfont.css" media="all">
        <link rel="shortcut icon" href="http://stc.weimob.com/img/favicon.ico">
    </head>
    <body onselectstart="return true;" ondragstart="return false;">
        
<div data-role="container" class="container">
    <header data-role="header">
                
        <section id="imgSwipe" class="img_swipe" style="visibility: visible;">
            <ul style="width: 2560px;">
                <li data-index="0" style="width: 640px; left: 0px; transition-duration: 500ms; transform: translate3d(0px, 0px, 0px);">
                    <a href="http://wxc63011ef3f85e714.m.weimob.com/weisite/list?pid=507002&bid=1046949&wechatid=fromUsername&ltid=1680689&wxref=mp.weixin.qq.com">
                        <div class="img"><img src="./天津英孚青少儿英语_files/20160105153603_23923.jpg"></div>
                        <div class="text">
                            <p>EF英语小课堂</p>
                            <p>伴你快乐成长每一天！</p>
                        </div>
                    </a>
                </li>
                <li data-index="1" style="width: 640px; left: -640px; transition-duration: 0ms; transform: translate3d(640px, 0px, 0px);">
                    <a onclick="return false;">
                        <div class="img"><img src="./天津英孚青少儿英语_files/20151116112713_50650.jpg"></div>
                        <div class="text">
                            <p>专心学 尽情玩 英孚英语冬令营</p>
                            <p></p>
                        </div>
                    </a>
                </li>
                <li data-index="2" style="width: 640px; left: -1280px; transition-duration: 500ms; transform: translate3d(-640px, 0px, 0px);">
                    <a onclick="return false;">
                        <div class="img"><img src="./天津英孚青少儿英语_files/20151023105919_36087.jpg"></div>
                        <div class="text">
                            <p>玩转童年 亲绘感恩</p>
                            <p>快来加入我们的 “亲绘感恩“ 派对！</p>
                        </div>
                    </a>
                </li>
                <li data-index="3" style="width: 640px; left: -1920px; transition-duration: 500ms; transform: translate3d(-640px, 0px, 0px);">
                    <a onclick="return false;">
                        <div class="img"><img src="./天津英孚青少儿英语_files/20150813115057_30972.gif"></div>
                        <div class="text">
                            <p>天津英孚青少儿英语</p>
                            <p>来英孚，收获成绩 更收获成长！</p>
                        </div>
                    </a>
                </li>
                            </ul>
            <div class="swipe_num"><span id="curNum">1</span>/<span id="totalNum">4</span></div>
        </section>
    </header>

    <section data-role="body">
                <div class="index_list" id="indexList">
            <ul>
                <li>
                    <a href="http://wxc63011ef3f85e714.m.weimob.com/weisite/list?pid=507002&bid=1046949&wechatid=fromUsername&ltid=1667542&wxref=mp.weixin.qq.com">
                        <i class="icon-smile"></i>
                        <p>小E推荐</p>
                    </a>
                </li>
                <li>
                    <a href="http://507002.m.weimob.com/weisite/detail?_tj_twtype=2&_tj_pid=507002&_tt=1&_tj_graphicid=8477093&_tj_title=%E5%85%B3%E4%BA%8E%E8%8B%B1%E5%AD%9A&_tj_keywords=%E5%85%B3%E4%BA%8E%E8%8B%B1%E5%AD%9A&did=1834484&bid=1046949&pid=507002&wechatid=o_Hx3ji5qjQ3T07cf3Fzn42msLsQ&channel=kw%255E%2523%255E5YWz5LqO6Iux5a2a">
                        <i class="icon-desktop"></i>
                        <p>关于英孚</p>
                    </a>
                </li>
                <li>
                    <a href="http://wxc63011ef3f85e714.m.weimob.com/weisite/list?pid=507002&bid=1046949&wechatid=fromUsername&ltid=1280354&wxref=mp.weixin.qq.com">
                        <i class="icon-github-alt"></i>
                        <p>我们的校区</p>
                    </a>
                </li>
                <li>
                    <a href="http://wxc63011ef3f85e714.m.weimob.com/weisite/list?pid=507002&bid=1046949&wechatid=fromUsername&ltid=1280340&wxref=mp.weixin.qq.com">
                    <i class="icon-file-text"></i>
                    <p>我们的课程</p>
                    </a>
                </li>
                <li>
                    <a href="http://wxc63011ef3f85e714.m.weimob.com/weisite/list?pid=507002&bid=1046949&wechatid=fromUsername&ltid=1278953&wxref=mp.weixin.qq.com">
                        <i class="icon-group"></i>
                        <p>EF最新活动</p>
                    </a>
                </li>
                <li>
                    <a href="http://m.ef-school.com/m/User.shtml">
                            <i class="icon-github"></i>
                            <p>学员预约活动课</p>
                    </a>
                </li>
                 <li class="no_bd">
                    <a href="http://m.ef-school.com/FeatureM/">
                         <i class="icon-bell-alt"></i>
                         <p>免费体验课</p>
                    </a>
                </li>
                <li class="no_bd">
                    <a href="http://wxc63011ef3f85e714.m.weimob.com/weisite/list?pid=507002&bid=1046949&wechatid=fromUsername&ltid=1280471&wxref=mp.weixin.qq.com">
                        <i class="icon-info-sign"></i>
                        <p>联系我们</p>
                    </a>
                </li>
                 <li class="no_bd">
                    <a href="http://eqxiu.com/s/vGvAj31w">
                    <i class="icon-wmfont wm-nuannan"></i>
                    <p>加入我们</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <footer data-role="footer">
                    <div class="copyright"><a href="http://wxc63011ef3f85e714.m.weimob.com/weisite/home?pid=507002&bid=1046949&wechatid=fromUsername&wxref=mp.weixin.qq.com" style="color:#B70000">© 天津英孚青少儿英语</a></div>
            </footer>

<!--
导航菜单
   后台设置的快捷菜单
-->

<script type="text/javascript" src="./天津英孚青少儿英语_files/ChatFloat.js"></script>
<script type="text/javascript">
var str_domain = location.href.split('/',4)[2];
var boolIsTest = true;
if(str_domain == 'www.weimob.com' || str_domain.indexOf('m.weimob.com') > 0){
	boolIsTest = false;
}
//1.0 web
new ChatFloat({
        AId: '507002',
        openid: "",
		top:150,
		right:0,
		IsTest:boolIsTest
});
</script>

<!--
echo STATIC_DOMAIN."/src/jQuery.js?v=10101011 
-->
<script type="text/javascript" src="./天津英孚青少儿英语_files/share_channel.js"></script>
<script type="text/javascript" src="./天津英孚青少儿英语_files/base64.js"></script>
<script type="text/javascript" src="./天津英孚青少儿英语_files/st.js"></script>
<script type="text/javascript">
 //var jq=$.noConflict();
 //使用案例如###如若上线请到研发群找我@赵增煜###
st.push("_triggerEvent",{
		"is_statistic_on":"on", //开关
		"statisticServerPath": "http://statistic.weimob.com/wm.js", //统计地址
		"memcServerPath": "http://statistic.weimob.com/memc?cmd=get", //缓存地址
		"stat_action":"loadPage",  //统计动作类型
		"stat_optValue":""    //参数值
});
</script>

<!-- weixin js sdk start-->
<script type="text/javascript" src="./天津英孚青少儿英语_files/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="./天津英孚青少儿英语_files/weixin.js"></script>
<script type="text/javascript">
// alert(window.shareData.t_callback_func);
// alert('getShareImageUrl'+window.shareData.f_callback_func);
var imgUrl= getShareImageUrl();
_share.push("_shareEvent",{
		"is_share_on":"on", //开关
		"pid":507002,
		"bid":"",
		"mUrl":"http://m.weimob.com",
		"optVal":
        {
            "shareLink": window.shareData.timeLineLink,
            "shareTitle": window.shareData.tTitle,
            "shareContent":window.shareData.tContent,
            "shareImg":window.shareData.imgUrl,
            "t_callback_func":window.shareData.t_callback_func,
            "f_callback_func":window.shareData.f_callback_func,
            "shareType":"",     
            "shareDataUrl":""
        }
});
</script>
<!-- weixin js sdk end -->


</div><script src="./天津英孚青少儿英语_files/wm.js"></script></body></html>