<section class="content-header">
    <h1>
        订餐统计
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-default">
			 <div class="box-header with-border">
                    <h3 class="box-title">订餐搜索</h3>
                </div>
                <form name="reg_testdate" class="form-horizontal" action="{:U('Admin/Stastics/statistics')}" method="get">
                    <div class="box-body">
                        <div class="form-group">
                             <label class="col-sm-1 control-label">店铺</label>

                            <div class="col-sm-3">
                                <select name="shopId" class="form-control" id="shopId">
                                   <volist name="vlist" id="shop" key="k">
                                    <option value="{$shop.id}" >
									<!--<if condition="$k eq 1">selected="selected"</if>-->
									{$shop.name}</option>
									
								   </volist>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label" style="width:120px;">订餐时间</label>

                            <div class="col-sm-3"  style="width:340px;height:34px;">
                                 <select name="year" id="year" onChange="getYearMonth(this.value)" 
								 style="width:100px;display:inline"  class="form-control">
									
								</select>
								<select name="month" id="month" onChange="getMonthDay(this.value)" 
								style="width:80px;display:inline"  class="form-control">
									
								</select>
								<select name="day" id="day" style="width:108px;display:inline"  class="form-control">
									<option value="">不选择</option>
								</select>
                            </div>
                        </div>

                        <div class="form-group">                           

                                          
							<!-- <div class="col-sm-3">
							 
                               <input type="submit" value="搜索" style="width:76px;height:34px;"></input>
                            </div>-->
                        </div>
						
                    </div>
                    <!-- /.box-body -->
					<div class="box-footer">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-block btn-danger">开始查询</button>
                        </div>
						
                    </div>

                </form>
               
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>

    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">统计管理</h3>
                    <!-- /.box-tools -->
					
                </div>
				 
                <!-- /.box-header -->
                <div class="box-body no-padding">
                   <div class="mailbox-controls">
                        <div class="btn-group">
                             <a 
                               target="_blank" class="btn btn-danger" id="exportStastics">
                                导出统计信息
                             </a>

                           
                        </div>
						 <div class="btn-group">
                             <a 
                               target="_blank" class="btn btn-danger" id="printl" onclick="preview(1);">
                                打印
                             </a>

                           
                        </div>
                        <!-- /.btn-group -->
                    </div>
					<!--startprint1-->
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
								<tr>                              
									<th>班级</th>
									<volist name="menulist" id="pro">
										<th>{$pro.name}</th>
									</volist>
									<th>总计</th>
									<th class="hideDetail">详情</th>
								</tr>								
								<volist name="arrayList" id="p">
									<tr>
										<td>{$p.classname}</td>
										<volist name="p.list" id="list">
											<td>{$list}</td>
										</volist>
										<td>{$p.num}</td>
										<td class="hideDetail"><a  class="detail" name="detail" style="cursor:pointer;" id="{$p.classid}">详情</a></td>
									</tr>
								</volist>							                           
                            </tbody>
                        </table> 
						 <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="btn-group" style="height: 45px">

                                </div>
                                <!-- /.btn-group -->
                                <div class="pull-right">
                                    {$page}
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
					<!--endprint1--> 
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<script type="text/javascript">

            function YYYYMMDDstart() 
		    {
                MonHead = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
                //先给年下拉框赋内容   
                var y = new Date().getFullYear();
                for (var i = (y - 30); i < (y + 30); i++) //以今年为准，前30年，后30年   
                    document.reg_testdate.year.options.add(new Option(" " + i + " 年", i));
                //赋月份的下拉框   
                for (var i = 1; i < 13; i++)
                    document.reg_testdate.month.options.add(new Option(" " + i + " 月", i));
                document.reg_testdate.year.value = y;
                document.reg_testdate.month.value = new Date().getMonth() + 1;
                var n = MonHead[new Date().getMonth()];
                if (new Date().getMonth() == 1 && IsPinYear(YYYYvalue)) n++;
                writeDay(n); //赋日期下拉框Author:meizz   
                document.reg_testdate.day.value = new Date().getDate();
            }
            //if (document.attachEvent)
            //    window.attachEvent("onload", YYYYMMDDstart);
            //else
            ///    window.addEventListener('load', YYYYMMDDstart, false);

            function getYearMonth(str) //年发生变化时日期发生变化(主要是判断闰平年)   
            {
                var MMvalue = document.reg_testdate.month.options[document.reg_testdate.month.selectedIndex].value;
                if (MMvalue == "") {
                    var e = document.reg_testdate.day;
                    optionsClear(e);
                    return;
                }
                var n = MonHead[MMvalue - 1];
                if (MMvalue == 2 && IsPinYear(str)) n++;
                writeDay(n)
            }

            function getMonthDay(str) //月发生变化时日期联动   
            {
                var YYYYvalue = document.reg_testdate.year.options[document.reg_testdate.year.selectedIndex].value;
                if (YYYYvalue == "") {
                    var e = document.reg_testdate.day;
                    optionsClear(e);
                    return;
                }
                var n = MonHead[str - 1];
                if (str == 2 && IsPinYear(YYYYvalue)) n++;
                writeDay(n)
            }

            function writeDay(n) //据条件写日期的下拉框   
            {
                var e = document.reg_testdate.day;
                optionsClear(e);
                for (var i = 1; i < (n + 1); i++)
                    e.options.add(new Option(" " + i + " 日", i));
            }

            function IsPinYear(year) //判断是否闰平年   
            {
                return (0 == year % 4 && (year % 100 != 0 || year % 400 == 0));
            }

            function optionsClear(e) {
                e.options.length = 1;
            }
    $(function(){
		YYYYMMDDstart();
		
        if ('{$productPost}') {
		
			$('select[name="year"]').val('{$productPost.year}');
				$('select[name="month"]').val('{$productPost.month}');
				$('select[name="day"]').val('{$productPost.day}');
				$('select[name="shopId"]').val('{$productPost.shopId}');
				
				//var mon = document.getElementById("month");  
				//sel.options[0].selected = true; 	
				
				
        }else
		{
		
		    var sel = document.getElementById("shopId");  
			if(sel.length>0)
			{
			    sel.options[0].selected = true;  
			}
		}
		$("#exportStastics").click(function(){
			
			var shopId = $("#shopId").val();			
			var year = $("#year").val();
			var month = $("#month").val();
			var day = $("#day").val();        
            //打印			
			window.location.href = "{:U('Admin/Stastics/export')}?shopId="+shopId+"&year="+year+"&month="+month+"&day="+day;
			  
		});
		$(".detail").click(function(){
			
			var classid = $(this).attr("id");
            var shopId = $("#shopId").val();			
			var year = $("#year").val();
			var month = $("#month").val();
			var day = $("#day").val();
            var param = {}; // 组装发送参数			
		    window.location.href = "{:U('Admin/Stastics/detail')}?classid="+classid+"&shopId="+shopId+"&year="+year+"&month="+month+"&day="+day;
          // $.post("{:U('Home/Stastics/statisClass')}", param, function(dom) {});  // 发送并显示返回内容
			  
		});
		
		   
			
    });


//实现打印方法 
function preview(oper)         
{  
    $(".hideDetail").hide();
	if (oper < 10)  
	{  
		var year = $("#year").val();
		var month = $("#month").val();
		var day = $("#day").val();
		bdhtml=window.document.body.innerHTML;//获取当前页的html代码  
		sprnstr="<!--startprint"+oper+"-->";//设置打印开始区域  
		eprnstr="<!--endprint"+oper+"-->";//设置打印结束区域  
		prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18); //从开始代码向后取html  
		prnhtmlprnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html  
		window.document.body.innerHTML=prnhtml;  
		window.print();  
		
		window.document.body.innerHTML=bdhtml; 
        $(".hideDetail").show();		
   
         if ('{$productPost}') {
		
		
				//alert({$productPost.year});
				//alert({$productPost.month});
				//alert({$productPost.day});
				$('select[name="year"]').val('{$productPost.year}');
				$('select[name="month"]').val('{$productPost.month}');
				$('select[name="day"]').val('{$productPost.day}');
				$('select[name="shopId"]').val('{$productPost.shopId}');
			
				
        }else
		{
		
		
		    $('select[name="year"]').val(year);
			$('select[name="month"]').val(month);
			$('select[name="day"]').val(day);
	
		    var sel = document.getElementById("shopId");  
			if(sel.length>0)
			{
			     sel.options[0].selected = true;  
			}
		}
    } else {  
       window.print(); 
	   
           }  
}  
</script>  
  